<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simpson Sticker Store</title>
  <style>
    body {
        background-image: url('https://i.pinimg.com/originals/ad/1e/2c/ad1e2c0c93696b30a9a6c916cb73d4b7.jpg');
    }
    .logo {
        max-width: 30%;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .title {
        font-size: 75px;
        text-align: center;
        color: rgb(255, 217, 15);
        -webkit-text-stroke: 2px black;
    }
  </style>
  <link href="http://fonts.cdnfonts.com/css/homer-simpson-revised" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</head>
<body>
        <nav class="navbar navbar-expand-sm navbar-light bg-warning">
            <div class="container-fluid">
                <a class="navbar-brand" href="#" style="font-family:Homer Simpson Revised">The Simpsons Sticker Store</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarID"
                    aria-controls="navbarID" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarID">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                        
                    </div>
                </div>
            </div>
        </nav>
    <div class="contair-fluid">
        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b7/The_logo_simpsons_yellow.png" class="logo center" alt="The Simpson's Logo">
    </div>
    <p style="font-family:Homer Simpson Revised" class="title">Sticker Store</p>
    <div class="container mx-auto center">
        <div class=" row row-cols-3" style="text-align: center;">
          <% for (let i=0; i<result.length; i++) {%>
            <div class="card col" style="width:18rem;">
              <img src= <%= result[i].image %> class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"> <%= result[i].character%></h5>
                <h6 class="card-subtitle mb-2 text-muted "><%= result[i].price%></h6>
              </div>
            </div> <%}%>
            <!-- <div class="card col" style="width:18rem;">
                <img src="https://pngimg.com/uploads/simpsons/simpsons_PNG93.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"> Bart Simpson</h5>
                  <h6 class="card-subtitle mb-2 text-muted ">$5.99</h6>
                </div>
              </div>
              <div class="card col" style="width:18rem;">
                <img src="https://pngimg.com/uploads/simpsons/simpsons_PNG93.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"> Bart Simpson</h5>
                  <h6 class="card-subtitle mb-2 text-muted ">$5.99</h6>
                </div>
              </div>
              <div class="card col" style="width:18rem;">
                <img src="https://pngimg.com/uploads/simpsons/simpsons_PNG93.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"> Bart Simpson</h5>
                  <h6 class="card-subtitle mb-2 text-muted ">$5.99</h6>
                </div>
              </div>
              <div class="card col" style="width:18rem;">
                <img src="https://pngimg.com/uploads/simpsons/simpsons_PNG93.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"> Bart Simpson</h5>
                  <h6 class="card-subtitle mb-2 text-muted ">$5.99</h6>
                </div>
              </div>
              <div class="card col" style="width:18rem;">
                <img src="https://pngimg.com/uploads/simpsons/simpsons_PNG93.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"> Bart Simpson</h5>
                  <h6 class="card-subtitle mb-2 text-muted ">$5.99</h6>
                </div>
              </div>
              <div class="card col" style="width:18rem;">
                <img src="https://pngimg.com/uploads/simpsons/simpsons_PNG93.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"> Bart Simpson</h5>
                  <h6 class="card-subtitle mb-2 text-muted ">$5.99</h6>
                </div>
              </div>
              <div class="card col" style="width:18rem;">
                  <img src="https://pngimg.com/uploads/simpsons/simpsons_PNG93.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"> Bart Simpson</h5>
                    <h6 class="card-subtitle mb-2 text-muted ">$5.99</h6>
                  </div>
                </div>
                <div class="card col" style="width:18rem;">
                  <img src="https://pngimg.com/uploads/simpsons/simpsons_PNG93.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"> Bart Simpson</h5>
                    <h6 class="card-subtitle mb-2 text-muted ">$5.99</h6>
                  </div>
                </div>
                <div class="card col" style="width:18rem;">
                  <img src="https://pngimg.com/uploads/simpsons/simpsons_PNG93.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"> Bart Simpson</h5>
                    <h6 class="card-subtitle mb-2 text-muted ">$5.99</h6>
                  </div>
                </div>
                <div class="card col" style="width:18rem;">
                  <img src="https://pngimg.com/uploads/simpsons/simpsons_PNG93.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"> Bart Simpson</h5>
                    <h6 class="card-subtitle mb-2 text-muted ">$5.99</h6>
                  </div>
                </div>
                <div class="card col" style="width:18rem;">
                  <img src="https://pngimg.com/uploads/simpsons/simpsons_PNG93.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"> Bart Simpson</h5>
                    <h6 class="card-subtitle mb-2 text-muted ">$5.99</h6>
                  </div>
                </div> -->
        </div>
    </div>
</body>
</html>